<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Title</title>
  <link href="/static/css/admin/admin.css" th:href="@{/css/admin/admin.css}" rel="stylesheet"
        type="text/css"/>
</head>
<body>
<header class="header">
  <div class="header_nav_bar">
    <div class="logo">팬카페 로고</div>
    <ul class="nav_bar_list">
      <li th:if="${isAuthenticated} != null">
        <a href="#" th:text="${memberName}">사용자 닉네임</a>
      </li>
      <li th:if="${isAuthenticated} == null">
        <a href="#">로그인</a>
      </li>
      <li th:if="${isAuthenticated} != null">
        <a href="#">로그아웃 버튼</a>
      </li>
      <li th:if="${isAuthenticated} == null">
        <a href="#">회원 가입</a>
      </li>
    </ul>
  </div>
</header>
<main class="content_area">
  <div class="content_area_header">
    <h1>운영자</h1>
    <!--     검색창,url-->
    <form class="form" action="#">
      <div class="search_form">
                <span class="search_image">
                    <img src="/static/images/search.png" width="17px">
                </span>
        <label for="search"></label>
        <input class="input" type="text" required="" placeholder="회원 검색하기" id="search"
               name="keyword">
      </div>
    </form>
  </div>

  <!--  member list tab-->
  <div class="tab">
    <button class="tab_links" onclick="openTab(event, 'AllMembers')">전체 회원</button>
    <button class="tab_links" onclick="openTab(event, 'UpgradeRequests')">등업 신청 회원</button>
  </div>

  <!-- 전체 회원 탭 콘텐츠 -->
  <div id="AllMembers" class="tab_content">
    <h3>전체 회원</h3>
    <!--    url-->
    <form action="" method="post">
      <div class="select_bar_area">
        <select name="newGrade">
          <option value="정회원">정회원</option>
          <option value="운영진">운영진</option>
          <option value="아티스트">아티스트</option>
        </select>
        <button type="submit">변경</button>
      </div>


      <ul>
        <li class="all_member_list" th:each="member : ${allMembers}">
          <input type="checkbox" th:value="${member.id}" name="memberIds[]"/>
          <span class="member_nickname" th:text="${member.nickname}">닉네임</span>
          <span class="member_grade" th:text="${member.grade}">회원등급</span>
          <span class="member_create_at" th:text="${member.createAt}">생성날짜</span>
          <span class="member_total_posts" th:text="${member.createAt}">게시물수</span>
          <span class="member_total_comments" th:text="${member.createAt}">댓글수</span>
        </li>
        <!--        더미데이터-->
        <li class="all_member_list" th:each="member : ${allMembers}">
          <input type="checkbox" th:value="${member.id}" name="memberIds[]"/>
          <span class="member_nickname" th:text="${member.nickname}">닉네임</span>
          <span class="member_grade" th:text="${member.grade}">회원등급</span>
          <span class="member_create_at" th:text="${member.createAt}">생성날짜</span>
          <span class="member_total_posts" th:text="${member.createAt}">게시물수</span>
          <span class="member_total_comments" th:text="${member.createAt}">댓글수</span>
        </li>
        <li class="all_member_list" th:each="member : ${allMembers}">
          <input type="checkbox" th:value="${member.id}" name="memberIds[]"/>
          <span class="member_nickname" th:text="${member.nickname}">닉네임</span>
          <span class="member_grade" th:text="${member.grade}">회원등급</span>
          <span class="member_create_at" th:text="${member.createAt}">생성날짜</span>
          <span class="member_total_posts" th:text="${member.createAt}">게시물수</span>
          <span class="member_total_comments" th:text="${member.createAt}">댓글수</span>
        </li>
        <li class="all_member_list" th:each="member : ${allMembers}">
          <input type="checkbox" th:value="${member.id}" name="memberIds[]"/>
          <span class="member_nickname" th:text="${member.nickname}">닉네임</span>
          <span class="member_grade" th:text="${member.grade}">회원등급</span>
          <span class="member_create_at" th:text="${member.createAt}">생성날짜</span>
          <span class="member_total_posts" th:text="${member.createAt}">게시물수</span>
          <span class="member_total_comments" th:text="${member.createAt}">댓글수</span>
        </li>
      </ul>
    </form>
    <div class="paging">
      <ul class="page_list" th:unless="${posts.isEmpty()}">
        <li class="page_link" th:unless="${startIdx == 1}">
          <a th:href="@{/quiz(page = ${startIdx - 1})}" th:text="startIdx">처음</a>
        </li>
        <li class="page_link" th:unless="${startIdx == 1}">
          <a th:href="@{/quiz(page = ${startIdx - 1})}"><<</a>
        </li>
        <li th:each="page : ${#numbers.sequence(startIdx, endIdx)}"
            th:class="${page == currentPage} ? 'page_current' : 'page_link'">
          <a th:href="@{/quiz(page = ${page})}" th:text="${page}"></a>
        </li>
        <li class="page_link" th:unless="${endIdx == totalPages}">
          <a th:href="@{/quiz(page = ${endIdx + 1})}">>></a>
        </li>
        <li class="page_link" th:unless="${endIdx == totalPages}">
          <a th:href="@{/quiz(page = ${totalPages})}">마지막</a>
        </li>
      </ul>
    </div>
  </div>

  <!-- 등업 신청 탭 콘텐츠 -->
  <div id="UpgradeRequests" class="tab_content">
    <h3>등업 신청 회원</h3>
    <!--    url-->
    <form action="" method="post">

      <div class="select_bar_area">
        <select name="newGrade">
          <option value="정회원">정회원</option>
        </select>
        <button type="submit">변경</button>
      </div>

      <ul>
        <li class="upgrade_request_members" th:each="request : ${upgradeRequests}">
          <input type="checkbox" th:value="${request.member.id}" name="memberIds[]"/>
          <span class="member_nickname" th:text="${request.member.nickname}">닉네임</span>
          <span class="member_grade" th:text="${request.member.grade}">회원등급</span>
          <span class="member_create_at" th:text="${request.member.createAt}">생성날짜</span>
        </li>
        <!--        더미데이터-->
        <li class="upgrade_request_members" th:each="request : ${upgradeRequests}">
          <input type="checkbox" th:value="${request.member.id}" name="memberIds[]"/>
          <span class="member_nickname" th:text="${request.member.nickname}">닉네임</span>
          <span class="member_grade" th:text="${request.member.grade}">회원등급</span>
          <span class="member_create_at" th:text="${request.member.createAt}">생성날짜</span>
        </li>
        <li class="upgrade_request_members" th:each="request : ${upgradeRequests}">
          <input type="checkbox" th:value="${request.member.id}" name="memberIds[]"/>
          <span class="member_nickname" th:text="${request.member.nickname}">닉네임</span>
          <span class="member_grade" th:text="${request.member.grade}">회원등급</span>
          <span class="member_create_at" th:text="${request.member.createAt}">생성날짜</span>
        </li>
        <li class="upgrade_request_members" th:each="request : ${upgradeRequests}">
          <input type="checkbox" th:value="${request.member.id}" name="memberIds[]"/>
          <span class="member_nickname" th:text="${request.member.nickname}">닉네임</span>
          <span class="member_grade" th:text="${request.member.grade}">회원등급</span>
          <span class="member_create_at" th:text="${request.member.createAt}">생성날짜</span>
        </li>
      </ul>
    </form>
    <div class="paging">
      <ul class="page_list" th:unless="${posts.isEmpty()}">
        <li class="page_link" th:unless="${startIdx == 1}">
          <a th:href="@{/quiz(page = ${startIdx - 1})}" th:text="startIdx">처음</a>
        </li>
        <li class="page_link" th:unless="${startIdx == 1}">
          <a th:href="@{/quiz(page = ${startIdx - 1})}"><<</a>
        </li>
        <li th:each="page : ${#numbers.sequence(startIdx, endIdx)}"
            th:class="${page == currentPage} ? 'page_current' : 'page_link'">
          <a th:href="@{/quiz(page = ${page})}" th:text="${page}"></a>
        </li>
        <li class="page_link" th:unless="${endIdx == totalPages}">
          <a th:href="@{/quiz(page = ${endIdx + 1})}">>></a>
        </li>
        <li class="page_link" th:unless="${endIdx == totalPages}">
          <a th:href="@{/quiz(page = ${totalPages})}">마지막</a>
        </li>
      </ul>
    </div>
  </div>
</main>
<footer>
  <div class="footer_nav_bar">
    <div class="logo">팬카페 로고</div>
    <ul class="nav_bar_list">
      <li>
        <a href="#">어떤걸넣어야할까</a>
      </li>
    </ul>
  </div>
</footer>
</body>
<script src="/static/js/admin/admin.js"></script>
</html>