body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#signup-form {
  width: 280px; /* 너비 축소 */
  padding: 10px 60px; /* 패딩 축소 */
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: auto; /* 상하 마진 자동 조절로 중앙 정렬 */
}

.form-group {
  margin-bottom: 20px; /* 간격 확대 */
  position: relative;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: calc(100% - 20px); /* 입력 필드 너비 조정 */
  padding: 10px;
  margin-bottom: 5px; /* 입력 필드 하단 여백 */
  border: 1px solid #ccc;
  border-radius: 4px;
}

.error-message {
  color: #ff0000;
  font-size: 12px;
  position: absolute;
  bottom: -20px; /* 에러 메시지 위치 조정 */
  left: 0;
  display: none;
}

input:invalid + .error-message {
  display: block;
}

button {
  width: 100%;
  background-color: #007bff;
  color: white;
  padding: 12px 20px; /* 버튼 패딩 확대 */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px; /* 버튼과 위 요소 간의 간격 확대 */
}

button:hover {
  background-color: #0056b3;
}

h2 {
  text-align: center;
  margin-bottom: 30px; /* 제목과 폼 요소 사이의 간격 확대 */
}

.link_signup {
  color: #007bff;
  text-decoration: none;
}

.link_signup:hover {
  text-decoration: underline;
}
