<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="/static/css/user/signup.css" th:href="@{/css/user/signup.css}" rel="stylesheet"
        type="text/css"/>
</head>
<body>
<!--url-->
<form id="signup-form" action="">
  <h2>회원가입</h2>
  <div class="form-group">
    <label for="nickname">닉네임</label>
    <input type="text" id="nickname" name="nickname" required minlength="1" maxlength="20"
           pattern=".{5,20}">
    <span class="error-message">닉네임은 5자 이상 20자 이하로 입력해주세요.</span>
  </div>
  <div class="form-group">
    <label for="email">이메일</label>
    <input type="email" id="email" name="email" required>
    <span class="error-message">유효한 이메일 주소를 입력해주세요.</span>
  </div>
  <div class="form-group">
    <label for="password">비밀번호</label>
    <input type="password" id="password" name="password" required>
  </div>
  <div class="form-group">
    <label for="password-confirm">비밀번호 확인</label>
    <input type="password" id="password-confirm" name="password-confirm" required>
    <span class="error-message" id="password-error">비밀번호가 일치하지 않습니다.</span>
  </div>
  <button type="submit">회원가입</button>
  <!--  url-->
  <p>로그인은 <a class="link_signup" href="#">여기</a>에서 할 수 있습니다.</p>
</form>

<script src="/js/user/signup.js"></script>
</body>
</html>