a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}


body {
  width: 1080px;
  margin: 0 auto;
  border: 1px solid black;
}

header {
  margin-top: 20px;
}

.header_nav_bar {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.nav_bar_list {
  display: flex;
  gap: 20px;
}

#front-img {
  width: 1080px;
  /*height: ;*/
}


/*main*/
.content_area_header {
  margin-top: 50px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 18px;
  padding-right: 18px;
}

/*search form*/
.search_form {
  display: flex;
  align-items: center;
  position: relative;
  border: 1px solid #dbdbdb;
  border-radius: 30px;
  background: #f6f6f6;
}

.search_image {
  position: absolute;
  left: 30px;
}

.input {
  color: black;
  padding: 20px;
  font-size: 20px;
  width: 100%;
  margin-inline: 40px;
  border: none;
  background-color: inherit;
}

.input:focus {
  outline: none;
}

.search_form:hover {
  border: 1px solid #363636;
}

.search_form:focus-within {
  background-color: white;
  outline: 2px solid #363636;
  outline-offset: -3px; /* 아웃라인을 요소 안쪽으로 이동 */
}

/*member list tab*/
.tab {
  overflow: hidden;
  border-bottom: 1px solid #afafaf;
}

.tab button {
  background-color: inherit;
  float: left;
  border: 1px solid #afafaf;
  border-bottom: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

.tab_content {
  display: none;
  padding: 6px 12px;
  /*border: 1px solid #ccc;*/
  border-top: none;
}

.tab button.active {
  background-color: #ccc;
}


/*셀렉트바*/
.select_bar_area {
  margin-bottom: 20px;
}

/*전체회원 리스트*/
.all_member_list, .upgrade_request_members {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #afafaf;
}

.member_nickname, .member_grade {
  flex: 0 0 20%; /* 닉네임과 회원등급의 너비를 각각 20%로 설정 */
}

.member_create_at {
  flex: 0 0 20%; /* 생성날짜의 너비를 20%로 설정 */
}

.member_total_posts, .member_total_comments {
  flex: 0 0 20%; /* 게시물수와 댓글수의 너비를 각각 10%로 설정 */
}


.page_list {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  gap: 10px;
}

.page_current, .page_link {
  font-weight: bold;
  /*border: 1px solid #dbdbdb;*/
  /*border-radius: 10px;*/
  color: #afafaf;
  text-align: center;
  cursor: pointer;
}

.page_link:hover {
  /*background-color: #ece9e9;*/
}

.page_current {
  color: #007bff;
}

.page_list a, .page_current a {
  display: block;
  /*padding: 1.0em;*/
  box-sizing: border-box;
  width: auto;
  height: auto;
}


/*footer*/
footer {
  margin: 20px auto;
  padding: 24px 20px 24px 20px;
}

.footer_nav_bar {
  display: flex;
  justify-content: space-between;
}